.user-profile {
    background: linear-gradient(to right, #0C2232, #246798);
    margin: 261px 281px;
}

.profile-footer{
    display: inline-block;
}

.profile-footer__user {
    display: inline-block;
    text-align: center;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    position: relative;
    margin-right: 20px;
    margin-left: 58px;
    margin-bottom: 20px;
    margin-top: 400px;
}

.profile-footer__item {
    margin-bottom: 20px;
}

.profile-footer-editProfile {
    color: white;
    background: #0C2232;
    padding: 10px 15px;
}

.profile-footer-exit {
    color: white;
    background: #0C2232;
    padding: 10px 118px;
}

.profile-footer__admin {
    top: -13.5px;
    width: 332px;
    height: 138px;
    display: inline-block;
    text-align: center;
    position: relative;
    color: white;
    background: #0C2232;
    padding: 10px 20px;
    margin-bottom: 30px;
}

.profile-footer__admin-item {
    margin-bottom: 10px;
    font-size: 36px;
}

.profile-footer-admin{
    color: white;
}

.profile-footer-editProfile:hover,
.profile-footer-exit:hover,
.profile-footer__admin:hover {
    opacity: 0.3;
}