.LoginButton {
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
    align-items: center;
    text-align: center;
    background-color: #68FFFF;
    color: #070025;
    font-size: 1.2vw; 
    font-family: 'Jura', sans-serif;
    border-radius: 3vw; 
    min-width: 65%;
    margin: 10px 0;
}

.LoginButton a {
    text-decoration: none; 
    cursor: pointer;
}