.Header {
    display: flex;
    justify-content: space-between;
    padding: 35px 44px 65px 44px ;
    background-color: #0E456E;
}
.Header span {
    color:white;
    font-size: 48px;
}
.HeaderImg img {
    padding: 0 20px 0 20px;
}
