.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: black;
    color: white;
    padding: 4vw 3vw 3vw 5vw;
    font-family: 'Inter', sans-serif;
}

.footer__about {
    flex: 1 1;
    max-width: 56vw;
    margin-right: auto;
}

.footer__about a {
    font-size: 3vw;
    color: #BCF8F7;
}

.footer__about p {
    font-size: 1vw;
    margin-top: 1vw;
    color: #BCF8F7;
}

.footer__contact, .footer__pages {
    flex: 1 1;
    max-width: 19vw;
    margin-left: 1vw;
}

.footer__contact ul, .footer__pages ul {
    list-style-type: none;
    padding: 0;
}

.footer__contact li, .footer__pages li {
    font-size: 1vw;
    margin-bottom: 1vw;
}

.footer__pages a {
    color: white;
    text-decoration: none;
}