.admin-panel__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #BCF8F7;
    font-size: 3vw;
    font-family: 'Jura', sans-serif;
    margin-top: 10%;
    margin-left: 5%;
    text-shadow: 0 0 4px #3576F8;
}

.admin-panel__form-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    color: #FFFFFF;
    font-family: 'Russo One', sans-serif;
    font-size: 1.6vw;
    font-weight: 400;
    line-height: 54px;
    margin-bottom: 20px; /*own*/
}

label {
    width: 322px;
    text-align: right;
    padding-right: 20px; /*own*/
}

.form-input,
textarea {
    width: 32vw;
    height: 3vw;
    background-color: #D9D9D9;
}
.form-group-description {
    display: flex;
}

.description {
    width: 56.4vw;
    background-color: #D9D9D9;
    color: black;
}

.form-row {
    display: flex;
    align-items: flex-end; /*own*/
}

.form-row .right input[type='file'] {
    display: none;
}

.form-row .right label {
    display: block;
    width: 18vw;
    background: linear-gradient(90deg, #1D283D 0%, #4D6DA3 51%);
    color: #FFFFFF;
    text-align: justify-all;
    font-family: Inter, sans-serif;
    margin-left: 6.5vw;
    margin-top: 1vw;
}

.form-row .right img {
    display: block;
    width: 13vw;
    height: 14vw;
    max-width: 14vw;
    max-height: 14vw;
    background-color: #D9D9D9;
    margin-left: 9vw;
}

.form-button {
    margin-left: 58vw;
    width: 16vw;
    background: linear-gradient(90deg, #1D283D 0%, #4D6DA3 51%);
    border: none;
    outline: none;
    font-family: Inter, sans-serif;
    font-size: 2vw;
    font-weight: 400;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
}

.admin-panel__database {
    margin-left: 5vw;
    padding-bottom: 8vw;
}

.admin-panel__database__text {
    font-family: Jura, sans-serif;
    font-size: 3vw;
    font-weight: 400;
    line-height: 96px;
    text-align: left;
    color: #BCF8F7;
    text-shadow: 0 0 4px #3576F8;
    margin-top: 4vw;
}

.admin-panel__database table {
    border-collapse: collapse;
    margin-left: 2vw;
}

.admin-panel__database th, td {
    border: 0.1vw solid #000000;
    text-align: left;
    padding: 0.2vw;
    font-family: Inter, sans-serif;
    font-size: 1.7vw;
    font-weight: 400;
    line-height: 54px;
    max-width: 19vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.admin-panel__database th, td {
    background-color: #D9D9D9;
}

.tr-button {
    cursor: pointer;
}
