.ForTheRestSliders {
    width: 100%;
    max-width: 1097px;
    height: 398px; 
    overflow: hidden;
    padding: 0 20px;
}

.Slider {
    position: relative;
}

.slides-container {
    display: flex;
    transition: transform 0.5s ease; 
    margin-left: -20px; 
}

.title {
    position: absolute;
    text-align: center;
    top: 350px;
    color: white;
    font-size: 0.7vw;
    font-family: 'Russo One', sans-serif;
}



.slides {
    position: relative;

    flex: 0 0 auto;
    width: calc((100% - 80px) / 5); 
    max-width: 244px; 
    height: 328px; 
    box-sizing: content-box;
    padding: 10px;
    margin: 0 26px;

    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    border-radius: 40px; 

    background-size: cover;
}





.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); 
    transition: background-color 0.3s ease; 
    border-radius: 40px; 
}

.slides:hover .overlay {
    background-color: rgba(149, 222, 255, 0.5); 
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Прозрачный фон для кнопок */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

.prev {
    left: 10px; 
}

.next {
    right: 10px;
}

@media (max-width: 1490px) {
    .slides {
        max-width: 168px; 
        height: 284px; 
    }
    .container {
        max-width: 934px; 
    }
    .title {
        top: 310px;
        right: 43px;
        font-size: 0.9vw;
    }
}